<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.myproject.gojejutour01">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoJejuTour01">

        <activity
            android:name=".b0_firstpage_0"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".b1_login_1"
            android:exported="true">
        </activity>

        <activity
            android:name=".b2_register_1_1"
            android:exported="true">
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>

        <activity android:name=".c2_mainsidebar_2_1_1_item_sbheader"
            android:exported="true">
        </activity>

        <activity android:name=".c5_googlemap_2_2"
            android:exported="true">
        </activity>

        <activity android:name=".c6_weather_2_3"
            android:exported="true">
        </activity>

        <activity android:name=".c7_search_2_4"
            android:exported="true">
        </activity>

        <activity android:name=".c8_search2_2_5"
            android:exported="true">
        </activity>

        <activity android:name=".d1_mypage_3"
            android:exported="true">
        </activity>

        <activity android:name=".d2_mypage_setting_3_1"
            android:exported="true">
        </activity>

        <activity android:name=".e1_notice_4"
            android:exported="true">
        </activity>

        <activity android:name=".e2_notice_detail_4_1"
            android:exported="true">
        </activity>

        <activity android:name=".f1_hotplace_main_5"
            android:exported="true">
        </activity>

        <activity android:name=".f2_hotplace_detail_5_1"
            android:exported="true">
        </activity>

        <activity android:name=".h1_traveltalk_7"
            android:exported="true">
        </activity>

        <activity android:name=".h2_traveltalk_detail_7_1"
            android:exported="true">
        </activity>

        <activity android:name=".h2_traveltalk_detail_7_1_item_comment"
            android:exported="true">
        </activity>

        <activity android:name=".h3_raveltalk_update_7_2_2"
            android:exported="true">
        </activity>

        <activity android:name=".h4_traveltalk_write_7_2_1"
            android:exported="true">
        </activity>

    </application>

</manifest>